body {
    font-family: 'Georgia', serif;
    margin: 20px;
    background-color: #282c34;
    color: #e0e0e0;
    transition: background-color 0.3s ease, color 0.3s ease;
    position: relative;
}

h1 {
    text-align: center;
    color: #ffb74d;
}

form {
    width: 400px;
    margin: 20px auto;
    background-color: #3e4451;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s ease;
    position: relative;
    z-index: 1;
}

label, input {
    display: block;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
}

input[type="file"], input[type="number"] {
    padding: 10px;
    border: 1px solid #5c6370;
    border-radius: 8px;
    background-color: #525966;
    color: #e0e0e0;
    transition: border-color 0.3s ease, background-color 0.3s ease;
}

input[type="file"]:focus, input[type="number"]:focus {
    border-color: #ffb74d;
    background-color: #6a7383;
}

button {
    background-color: #ffb74d;
    color: #282c34;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ff9800;
}

#result {
    margin-top: 20px;
    padding: 15px;
    background-color: #4a515d;
    border-radius: 8px;
    text-align: center;
    font-weight: bold;
    font-size: 1.1em;
    color: #ffb74d;
    transition: background-color 0.3s ease;
}

/* Adding the background image */
body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000009;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.6;
    z-index: -1;
}

/* Advanced Options Styles */
.advanced-toggle {
    cursor: pointer;
    color: #ffb74d;
    font-size: 0.9em;
    margin-top: 5px; /* Reduced margin */
}

.advanced-inputs {
    display: none;
    margin-top: 10px;
    border: 1px solid #5c6370;
    padding: 15px;
    border-radius: 8px;
    background-color: #4a515d;
}

.reset-defaults {
    cursor: pointer;
    color: #ffb74d;
    font-size: 1.2em;
    text-align: right;
}

.compare-button-container {
    margin-top:20px;
}